
.aboutSection {
    margin-left: 16px;
}
.carousels {
  display: flex;
  width: 80%;
  height: 500px;
  border: 10px double @persianGreen;
  border-radius: 2%;
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  margin: 5% auto;

  .carousel {
      width:100%;
      display: none;
      //height: 499px;
  }
}