.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 95%;
  margin: 1rem auto;

  .navSection {
    width: 22.5%;
  }

  .contentSection {
    display: flex;
    flex-direction: column;
    width: 72.5%;

    div {
      border: 6px double @persianGreen;
    }
  }
}

.topPart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .scoolName {
    width: 47.5%;
    border: 2px single @bamboo
  }

  .visitLog {
    width: 22.5%;
    border: 2px single @bamboo
  }

  .totalStudents {
    width: 22.5%;
    border: 2px single @bamboo
  }
}
